.dropdown {
  position: relative;
  width: 80%;
  margin: 0 auto;
  max-width: 600px;
  z-index: 10;
  
  .dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    background: rgba(207, 159, 255, 0.7); 
    // border: 2px solid #800080;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    
    .dropdown-icon {
      transition: transform 0.2s ease;
      
      &.open {
        transform: rotate(180deg);
      }
    }
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(207, 159, 255, 0.9); 
    border: 2px solid #800080;
    border-top: none;
    border-radius: 0 0 4px 4px;
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 300px;
    overflow-y: auto;
    font-size: 2rem;
    
    li {
      padding: 12px 16px;
      cursor: pointer;
      color: white;
      
      &:hover {
        background: rgba(204, 204, 255, 0.3);
      }
      
      &.selected {
        background: rgba(119, 7, 55, 0.2);
      }
    }
  }
}