.chat-ai-one {
    position: absolute;
    // border: 1px solid #c3f708;
    width: 25%;
    height: 50%;
    margin-left: 30px;
    bottom: 0;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.chat-ai-two {
    position: absolute;
    // border: 1px solid #c3f708;
    right: 0;
    width: 25%;
    height: 50%;
    margin-right: 30px;
    bottom: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;

    text-align: center;

    h1 {
        margin: 0;
        white-space: nowrap; 
        width: 100%;
    }
}


.archive-area{
    max-width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 25%;

}

.archive-btn {
    background: #CF9FFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;


    &:hover {
        background: #E0B0FF;
    }
}   


