.page {
    width: 100%;
    height: 100%;
    position: absolute;
  }

.archive-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 58px;
  box-sizing: border-box;
}
  
.container {
  // border: 2px solid #0858f7;
  width: 100%;
  will-change: contents;
  height: 90%;
  min-height: 566px;
  position: absolute;
  top: 5%;
  z-index: 1;
  transform-style: preserve-3d;

  h1 {
    font-size: 2.5rem;
    color: #0858f7;
    text-align: center;
    margin-top: 20px;
  }
}
  
@media screen and (max-width: 768px) {
  .page {
    height: auto;
    position: relative;
  }

  .container {
    width: 100%;
    height: auto;
    min-height: 900px;
    max-height: 1200px;
    padding-bottom: 58px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    overflow: hidden;
  }

}
  