.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: beige;
    // border: 1px solid rgb(52, 174, 34);
}

.archive-header {
    top: 0;
    justify-content: center;
    align-items: center;
    // border: 1px solid rgb(52, 174, 34);
}

.debate-card-holder {
    justify-content: center;
    // border: 1px solid rgb(52, 174, 34);
    display: flex;
    width: 80%;
    flex-direction:row;
    gap: 20px;
}