
.prompts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 30px;
    color: white;
    font-weight: 700;
    
    h2 {
      padding: 5px;
      background: rgba(207, 159, 255, 0.7); 
      border-radius: 8px;
      margin-bottom: 20px;
      font-size: x-large;
      color: #ffffff;
    }
    
    .dropdown-wrapper {
      width: 100%;
      max-width: 600px;
      margin-bottom: 25px;
    }  

    .start-debate-btn {
      background: #CF9FFF;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      cursor: pointer;
      font-size: large;
      font-weight: 700;
      transition: background 0.2s;
      
      &:hover {
        background: #E0B0FF;
      }

      &:disabled {
        background: #666;
        cursor: not-allowed;
      }
    }

  }
