html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Popins', sans-serif;
  color: #444;
  overflow: hidden;
  display: block;
  background: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@media screen and (max-width: 768px) {
  body {
    overflow: visible;
  }
}

